<header class="site-header">

  <div class="site-header-inner">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav" aria-label="Primary navigation">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label class="nav-toggle" for="nav-trigger">Menu</label>

      <div class="trigger">
        <a class="page-link" href="{{ "/#about" | relative_url }}">About</a>
        <a class="page-link" href="{{ "/#posts" | relative_url }}">Posts</a>
        <a class="page-link" href="{{ "/playlists.html/" | relative_url }}">Playlists</a>
        <a class="page-link" href="{{ "/gradecalculatorv2/" | relative_url }}">Grade Calculator</a>
        <a class="page-link" href="{{ "/personal/" | relative_url }}">Personal Space</a>
      </div>
    </nav>
  </div>
</header>
